.lang{width:810px;
      float:right;
      margin-right:20px;
      position:absolute;
      top:900px;
      left:460px;
      }
.langOne{font-size:20px;
         color:#a4a23e;
         font-family:"黑体";
         }