.pages_con{position:fixed;
                    left:0;
                    top:0px;
                    width:100%;
                    }
.pages{height:100px;
                position:relative;}
.page1{background-color:#d3656f;
        }
.page2{background-color:lightgreen;
        }
.page3{background-color:#f6900d;
        }
.page4{background-color:#800df6;
        }
.page5{background-color:#05128c;
        }
