ul{list-style:none;}
body,ul{margin:0px;
		padding:0px;
			}
.leftMenu{float:left;
          height:2400px;
          background-color:#6faee4;}
.leftMenuOne{width:300px;}
.leftMenuOne .leftMenuTwo,.leftMenuOne li ul a{
			display:block;
			width:300px;
			height:50px;
			line-height:30px;
			text-decoration:none;
			background-color:#3366cc;
			color:#fff;
			font-size:20px;
            text-indent:10px;

			}
.leftMenuOne .leftMenuTwo{
			border-bottom:1px solid #afc6f6;
			}
 .leftMenuOne li ul a{
			font-size:17px;
			text-align:center;
			background-color:#7aa1ef;
			}
.leftMenuOne li ul li{
			border-bottom:1px solid #afc6f6;
		}
.leftMenuOne li ul.current{
			display:block;
			}
.leftMenuOne li ul li a:hover{
			background-color:#f6b544;
		}
.leftMenuOne li ul{
			display:none;
		}